---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Learn Web Development">
  <main class="min-h-screen h-full bg-[#1F1F1F] text-[#DEDEDE]">
    <section class="h-screen flex flex-col justify-center items-center py-6 px-4 gap-6">
      <h1 class="text-2xl sm:text-5xl" id="main-title">
        Learn web development
      </h1>
      <p class="text-lg sm:text-xl max-w-[734px] w-full text-center">
        This course is specifically designed for beginners but might also be useful for experienced programmers who want to check their knowledge.
      </p>

      <div class="pt-4 flex gap-2">
        <a data-learn-button="#f06529" href="learn/html" class="px-6 py-2 rounded-full transition-colors border border-white/40 hover:bg-[#f06529]">
          HTML
        </a>
        <a data-learn-button="#264de4" href="learn/css" class="px-6 py-2 rounded-full transition-colors border border-white/40 hover:bg-[#264de4]">
          CSS
        </a>
        <a data-learn-button="#f7df1e" href="learn/javascript" class="px-6 py-2 rounded-full transition-colors border border-white/40 hover:(bg-[#f7df1e] text-black)">
          JavaScript
        </a>
      </div>

    </section>

  </main>
</Layout>
<script>
  const buttons = document.querySelectorAll('[data-learn-button]');
  const title = document.getElementById("main-title") as HTMLHeadingElement;

  let timeout: number | undefined;

  buttons.forEach(element => {
    const button = element as HTMLAnchorElement;

    button.addEventListener('pointerover', () => {
      const color = button.dataset.learnButton as string;

      switch (button.innerText) {
        case "JavaScript":
          title.innerText = "learn.webDevelopment();";
          break;
        case "CSS":
          title.innerText = ".learn.web-development";
          break;
        case "HTML":
          title.innerText = "<Learn web-development />";
          break;
      }

      title.style.color = color;
      if (timeout) clearTimeout(timeout)
    });

    button.addEventListener("pointerleave", () => {
      timeout = setTimeout(() => {
        title.style.color = "";
        title.innerText = "Learn web development";
      }, 250);
    })
  });

</script>