---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Learn Web Development">
  <main class="min-h-screen h-full bg-[#1F1F1F] text-[#DEDEDE]">
    <section class="h-screen flex flex-col justify-center items-center py-6 px-4 gap-6">
      <h1 class="text-5xl">
        &lt;Learn web-development /&gt;
      </h1>
      <p class="text-xl max-w-[734px] w-full text-center">
        This course is specifically designed for beginners but might also be useful for experienced programmers who want to check their knowledge.
      </p>

    </section>

  </main>
</Layout>
