---
import Layout from '../../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('html');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <main class="min-h-screen h-full bg-[#1F1F1F] text-[#DEDEDE] p-6">
    <h1>{entry.data.title}</h1>
    <a href="../html">See other lessons</a>
    <article class="markdown max-w-3xl w-full mx-auto flex flex-col gap-2">
      <Content />
    </article>
  </main>
</Layout>

<style>
  .markdown h2 {
    @apply text-3xl;
  }
</style>