---
import { getCollection } from "astro:content";

const allHtmlPosts = await getCollection("html");
---

<html>
  <head>
    <title>HTML - Learn Web Development</title>
  </head>
  <body>
    {allHtmlPosts.map(post => (
      <a href={`${import.meta.env.BASE_URL}learn/html/${post.slug}`}>{post.data.title}</a>
    ))}
  </body>
</html>