---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";

const allHtmlPosts = await getCollection("html");
---

<Layout title="HTML - Learn Web Development">
  <main class="min-h-screen h-full bg-[#1F1F1F] text-[#DEDEDE] justify-center text-center flex flex-col gap-8">
    <div class="flex flex-col gap-2">
      <h1 class="text-3xl font-medium">
        Learn HTML
      </h1>
      <a href="../" class="opacity-60">
        &lt; Go back to homepage
      </a>
    </div>
    

    <div class="flex flex-col gap-2 p-4 border rounded-md w-fit mx-auto">
      {allHtmlPosts.map(post => (
        <a href={`${import.meta.env.BASE_URL}learn/html/${post.slug}`}>{post.data.title}</a>
      ))}
    </div>
  </main>
  

</Layout>